.App {
  text-align: center;
}




.App-header {
  background-color: #14213D;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.article-img {
  opacity: 0.8;
  cursor: pointer;
}

.article-img:hover {
  box-shadow: 5px 5px 5px rgb(155, 153, 177);
  opacity: 1;
}



.details {
  max-width: fit-content;
 text-align: left;
display: block !important;

}

.details-list {
  display: flex !important;
  align-items: baseline !important;
  background-color: #ececec !important;
}

